.grid {
    display: grid;
    gap: 15px;
    width: 100%;
}

/* Grid Columns */
.gc-1 { grid-template-columns: 1fr; }
.gc-2 { grid-template-columns: repeat(2, 1fr); }
.gc-3 { grid-template-columns: repeat(3, 1fr); }
.gc-4 { grid-template-columns: repeat(4, 1fr); }
.gc-5 { grid-template-columns: repeat(5, 1fr); }
.gc-6 { grid-template-columns: repeat(6, 1fr); }
.gc-7 { grid-template-columns: repeat(7, 1fr); }
.gc-8 { grid-template-columns: repeat(8, 1fr); }
.gc-9 { grid-template-columns: repeat(9, 1fr); }
.gc-10 { grid-template-columns: repeat(10, 1fr); }

@media all and (max-width: 1100px) {
    .gc-4 { grid-template-columns: repeat(3, 1fr); }
}

@media all and (max-width: 900px) {
    .gc-3 { grid-template-columns: repeat(2, 1fr); }
    .gc-4 { grid-template-columns: repeat(2, 1fr); }
}

@media all and (max-width: 500px) {
    .gc-2 { grid-template-columns: 1fr; }
    .gc-3 { grid-template-columns: 1fr; }
    .gc-4 { grid-template-columns: 1fr; }
}